target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.mvn
.run
logs


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Configuration files
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties
src/main/resources/application-test.properties